{% extends 'base/main.html'%}

{% load static %}

{% block content %}
<main>
    <section id="form-container">
        <img id = "logo" src="{% static 'images/chat.jpg'%}"
    </section>

    <div id="welcome-message">
        <h1>Welcome to My Chat</h1>
        <p>A group Video calling application just for you</p>
    </div>

    <form id="form">
        <div class="form-field">
            <input type="text" id="Name" placeholder="Enter name" name="Name"> 
            <input type="text" id="room" placeholder="Enter a room name" name="roomName"> 
            <input type="submit" value="Join Stream">
        </div>
    </form>

</main>
<script type = "text/javascript">
    
    let form = document.getElementById('form');

let handleSubmit = async function(event){
    event.preventDefault();
   
    let roomName = event.target.roomName.value.toUpperCase(); // Define roomName here
    let name = event.target.Name.value
    let data = await fetch(`/get_token?channelName=${roomName}`);
    let jsonresponse = await data.json();

    let UID = jsonresponse.uid;
    let TOKEN = jsonresponse.token;

    sessionStorage.setItem('roomname', roomName);
    sessionStorage.setItem('uid', UID);
    sessionStorage.setItem('token', TOKEN);
    sessionStorage.setItem('name', name);


    window.open('room/', '_self');
}

form.addEventListener('submit', handleSubmit);

</script>

{% endblock content %}

